.wrapper{
    width: 1170px;
    margin: auto;
}
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}
ul li,ol li{
	font-size:0.875em;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
.slider{
    width: 100%;
    height: 550px;
    /* border: 3px solid #f26522; */
    margin: auto;
    background-size: 100% 100%;
    animation: slider 10s infinite;
    animation-direction: alternate;
}
@keyframes slider {
    0%, 30%{
        background-image: url(../img/pokemonLogo.png);
        opacity: 1;
    }
    31%, 34%{
        opacity: 1;
    }
    35%, 65%{
        background-image: url(../img/pokemon2.png);
        opacity: 1;
    }
    66%, 69%{
        opacity: 1;
    }
    70%, 100%{
        background-image: url(../img/pokemon3.png);
        opacity: 1;
    }

}
.menuCont{
    width: 100%;
    background: #fe9126;
    padding: 1%;
}

.menuCont a{
    color: #fff;
    text-decoration: none;
    padding: 2%;
    font-weight: lighter
}
.header{
    background: #333333;
    padding: 2% 0;
}
.container-header {
    float: left;
    width: 47%;
}
.container-header p {
    font-size: 0.9em;
    color: #fff;
    font-weight: lighter;
}
.container-header p a {
    color: #fe9126;
    text-decoration: none;
}
.container-login {
    float: left;
    width: 40%;
    text-align: center;
}
.container-login ul li {
    display: inline-block;
    padding: 0em 1em;
}
.container-login ul li a {
    font-size: 1em;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
}
.cart {
    font-size: 1em;
    color: #fff;
    top: 1em;
     float: right;
}
.titulo {
    float: left;
    text-align: center;
    width: 33.33%;
    float: left;
    margin-top: 0.6em;
}
.titulo h1 a{
    color: #fe9126;
    text-decoration: none;
    font-size: 1.5em;
    position: absolute;
    top: 10%;
    right: 40%;
}
.titulo ul li{
	display:inline-block;
	color:#212121;
}
.search {
    float: right;
    width: 25.33%;
}
.search input{
    width: 83%;
    padding: 6%;
    font-size: 0.9em;
    color: #999;
    outline: none;
    border: 1px solid #cccccc;
    background: none;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    top: -1px;
    left: 2px;
}
.search i.fa.fa-search {
    font-size: 0.9em;
    color:#fff;
    background: #fe9126;
    border-radius: 10%;  
    padding: 11px 12px 11px;
    float: right;
    outline: none;
    border: none;
}
.search i.fa.fa-search:hover {
    background:#333;	
}
.logo {
    padding: 3em 0;
}
i.fa.fa-phone {
    margin-right: 10px;
    font-size: 20px;
}
.buttonDash, button {
    border: 1px dashed #7a7979;
    padding: 0.7% 5%;
    border-radius: 50px;
    background-color: transparent;   
    color: #fe9126;;
    margin-right: 1%;   
    cursor: pointer;
}
.buttonDash:hover , button:hover{
    border-style: solid;
    border-color:#000;
    color: #000;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    padding: 0.7% 5%;
    border-radius: 50px;
}
.undo{
    text-decoration: none;
    position: relative;
    top: 124px;
    left: 584px;
}
.registrar{
    text-decoration: none;
    position: relative;
    top: 125px;
    left: 141px;
}
.subirFoto{
    text-decoration: none;
    position: relative;
    top: 338px;
    left: 286px;
}
#tblPokemon, #tblEntrenador {
    padding-top: 5%;
    position: relative;
    left: 25%;
    top: 130px;
  }
  th, tr{
    text-align: center;
    background: #fe9126;
  }
.field {
    display: flex;
    flex-flow: column-reverse;
    /* margin-bottom: 1em; */
  }

  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  input {
    position: relative;
    left: 25%;
    top: 50px;
    width: 50%;
    margin-bottom: 3%;
    height: 30px;
    font-size: 1.1em;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    color: #fe9126;
  }
  
  input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
  label {
    position: relative;
    left: 25%;
    top: 45px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    color: #7a7979;
  }
  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }

  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
 
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }






