html {
    background-image: url("./img/heroBanner.jpg");
    background-color: #000;
  } 
button {
    border-style: dashed;
    border: 4px solid;
    border-color: #7a7979;
    padding: 0.7% 5%;
    border-radius: 50px;
    background-color: transparent;   
    color: #fbb803;
    margin-right: 1%;   
    cursor: pointer;
    float: right;
    margin-bottom: 2%;
}



body {   
    font-family: tahoma;
    color: #fbb803;
}

h1{
    color: #FFF;
    font-size: 10em;
    font-weight: 700;
    line-height: 0.8;
    padding: 20%;
    
    
   
}
h1 span {
    color: #fbb803;
    display: block;
    
}
h2 {
    
    width: 100%;  
    font-size: 2em;
    margin-bottom: 2%;  
    margin-right: 5%;  
}

h3 {
    width: 100%;  
    font-size: 1.5em;
    margin-bottom: 1%;  
    margin-right: 5%; 
    margin-left: 5%; 
}

h4 {
    width: 100%;  
    font-size: 2em;
    margin-bottom: 1%;  
    margin-right: 5%;
    margin-left: 8%;  
}


::placeholder { 
    color: #999898; 
    font-size: 1.1em;
}
.img_container img{
    background: #fff;
    width: 36%;
    height: 50%;
}

p {
    margin-left: 7%; 
    font-size: 1.5em;
    color: #f5f6fa;
    margin-top: 2%;
}

.reglamento p {
    margin-left: 10%; 
    font-size: 1.5em;
    color: #f5f6fa;
    margin-top: 1%;
}


ul {
    font-size: 1.3em;
    color: #f5f6fa;
    margin-left: 9%;
   
}

.buttonDash, button {

    border: 1px dashed #7a7979;
    padding: 0.7% 5%;
    border-radius: 50px;
    background-color: transparent;   
    color: #fbb803;
    margin-right: 2%;   
    cursor: pointer;
    float: center;
    margin-bottom: 10%;
    text-decoration: none;
    margin-left: 2%;
    margin-top: 5%;
    
}
.buttonDash:hover , button:hover{
    border-style: solid;
    border-color:#fff;
    color: #fff;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    padding: 0.7% 5%;
    border-radius: 50px;
    
}

.botonespanel {
margin-top: 5%;
margin-bottom: 5%;
}



.perfil{
	width:100%;
	margin:50px auto;
	line-height:0;
}

img{
    width: 30%;
    height: 200px;
    opacity: .7;
    object-fit: cover;
    border-radius: 50px;
}
/* .perfil{

    width: 36%;
    height: 50%;
    float: left;
    display: flow-root;
    /* margin-left: 5%; */
   
/*
} */

.derecha_column {
    float: right;
    display: flow-root;
    margin-right: 15%;

}


.perfil img_container {


    border-radius: 50px;

}

.botonregresar {


    margin-top: 25%;
    margin-left: 20%;

}


